**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

/usr/local/lib/python3.11/dist-packages/learntools/sql/ex1.py:64: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (type(fields_for_plotting[0] == str), "The first item in `fields_for_plotting` should be a string.")
/usr/local/lib/python3.11/dist-packages/learntools/sql/ex1.py:65: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (type(fields_for_plotting[1] == str), "The second item in `fields_for_plotting` should be a string.")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [3]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [23]:
# Write the code you need here to figure out the answer
tables = list(client.list_tables(dataset))
print(len(tables))
print(tables)

1
[<google.cloud.bigquery.table.TableListItem object at 0x7efaeb5e3dd0>]

In [15]:
num_tables = 1  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [22]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [27]:
# Write the code to figure out the answer

table_ref = dataset_ref.table("crime")

table = client.get_table(table_ref)

table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, None, (), None)]

In [28]:
num_timestamp_fields =  sum(1 for field in table.schema if field.field_type == "TIMESTAMP")


# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [ ]:
# Write the code here to explore the data so you can find the answer

In [34]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here

# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [32]:
q_3.hint()
q_3.solution()

Hint: Look at the table schema.  There are a couple options, but two of the fields are things commonly used to plot on maps. Both are `'FLOAT'` types. Use quotes around the field names in your answer.

Solution:
```python
fields_for_plotting = ['latitude', 'longitude']
```

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [37]:
# Scratch space for your code
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,8747633,HV422434,2012-08-09 03:00:00+00:00,001XX N MICHIGAN AVE,0265,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,ALLEY,False,False,...,42,32,02,1177272.0,1901512.0,2012,2018-02-10 15:50:01+00:00,41.885085,-87.624481,"(41.885084656, -87.624480684)"
1,12691759,JF233303,2022-05-06 22:00:00+00:00,002XX N CLARK ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,CTA STATION,False,False,...,42,32,02,1175500.0,1901787.0,2022,2023-01-03 15:40:27+00:00,41.885879,-87.630979,"(41.885879253, -87.630979425)"
2,11125001,JA478505,2017-10-18 23:00:00+00:00,002XX N WABASH AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42,32,02,1176777.0,1901808.0,2017,2018-02-10 15:50:01+00:00,41.885908,-87.626289,"(41.885908101, -87.626289429)"
3,12457703,JE343263,2021-08-20 01:07:00+00:00,003XX N LOWER MICHIGAN AVE,0291,CRIMINAL SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,STREET,True,False,...,42,32,02,1177247.0,1902310.0,2021,2022-08-08 15:40:21+00:00,41.887275,-87.624548,"(41.887274976, -87.624548283)"
4,11191871,JA568911,2017-12-31 12:55:00+00:00,0000X E RANDOLPH ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,SMALL RETAIL STORE,False,False,...,42,32,03,1176883.0,1901295.0,2017,2018-05-04 15:51:04+00:00,41.884498,-87.625916,"(41.884498005, -87.625915709)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*